.content-tabs {
  overflow: hidden;
  letter-spacing: 1px;
}

.nav-link.active {
  font-weight: 800;
  background-color: #005cbb;
  color: white !important;

}
.nav-link{
  color: #000000;
  border: none;
}
