<nav class="mb-4">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" [class.active]="isCurrentStep(1)">اطلاعات فردی</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="isCurrentStep(2)">آپلود مدارک</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="isCurrentStep(3)">اطلاعات تماس</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="isCurrentStep(4)">نمایش کلی اطلاعات</a>
    </li>
  </ul>
</nav>
