.uploaded-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid red;
  padding: 5px;
  margin-top: 10px;
}

.show-toast {
  animation: showToastAnimation 2s linear 2s;
}

@keyframes showToastAnimation {
  0%,
  100% {
    opacity: 0;
  }
}
