<div class="container">
  <div class="card">
    <div class="card-body position-relative">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="h6">First Name:
            <small class="text-primary-emphasis">
              {{ !!userData.personalInfo.firstName ? userData.personalInfo.firstName : '-' }}
            </small>
          </p>
        </li>
        <li class="list-group-item">
          <p class="h6">Last Name: <small
            class="text-primary-emphasis">
            {{ !!userData.personalInfo.lastName ? userData.personalInfo.lastName : '-' }}
          </small>
          </p>
        </li>
        <li class="list-group-item">
          <p class="h6">National Code:
            <small class="text-primary-emphasis">
              {{ !!userData.personalInfo.nationalCode ? userData.personalInfo.nationalCode : '-' }}
            </small>
          </p>
        </li>
        <li class="list-group-item">
          <p class="h6">Province:
            <small class="text-primary-emphasis">
              {{ !!userData.contactInfo.province ? userData.contactInfo.province : '-' }}
            </small>
          </p>
        </li>
        <li class="list-group-item">
          <p class="h6">City:
            <small class="text-primary-emphasis">
              {{ !!userData.contactInfo.city ? userData.contactInfo.city : '-' }}
            </small>
          </p>
        </li>
        <li class="list-group-item">
          <p class="h6">Address:
            <small class="text-primary-emphasis">
              {{ !!userData.contactInfo.address ? userData.contactInfo.address : '-' }}
            </small>
          </p>
        </li>
        <li class="list-group-item">
          <p class="h6">Document:
            <small class="text-primary-emphasis">
              {{ userData.document === null ? '-' : '' }}
            </small></p>
          <ng-container *ngIf="userData.document">
            <div class="uploaded-image">
              <img [src]="userData.document" class="card-img-bottom w-100 h-100" alt="Document">
            </div>
          </ng-container>
        </li>
      </ul>
      <button (click)="onSubmit()"
              [disabled]="isCheckValidForm()"
              class="btn btn-success mt-2">
        Submit
      </button>
      <div [ngClass]="isSuccessForm ? 'show-toast' : 'd-none'"
           class="alert alert-success position-fixed top-0 end-0 mt-2 me-2"
           role="alert">
        Information submitted successfully!
      </div>
    </div>
  </div>

</div>
