/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #005cbb, #d7e3ff);
}

.cu-text-primary {
  color: #005cbb;
}

.cu-btn {
  min-width: 110px;
  height: 35px;
  color: #fff !important;
  padding: 4px;
  border-radius: 15px;
  border: none !important;
}

.cu-btn-primary {
  background-color: #005cbb !important;
}

.cu-btn-primary:hover {
  background-color: #0167cf !important;
}

.cu-btn-primary:disabled {
  background-color: #d7e3ff !important;
}

.card {
  min-height: 350px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
